/*
Nastav CSS pro třídu .kontejner a .sloupec tak,
aby na obrazovce širší než 600px byly všechny 3 obdélníky vedle sebe.

Go, girl!
*/

.kontejner {
    display: block;
}

@media (min-width: 600px) {
    .kontejner{
        display: flex;
    }

    .sloupec {
        flex-grow: 1;
    }
}

